__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.venv
env/
venv/
ENV/
media/
staticfiles/
db.sqlite3
*.log
.DS_Store
.git
.gitignore
*.md
.vscode
.idea
